<div class="row">
  <div class ="col-md-6">
    <%=image_tag("logoFlag.jpg", class: "logo")%>
  </div>
  <div class ="col-md-6">
    <%=image_tag("logoFlagExtension.jpg", class: "logo")%>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <%=image_tag("puerto-rico-1.JPG", class: "puertoRicoPic col-md-2")%>
  </div>
  <div class="col-md-2">
    <%=image_tag("puerto-rico-2.JPG", class: "puertoRicoPic col-md-2")%>
  </div>
  <div class="col-md-2">
    <%=image_tag("puerto-rico-3.JPG", class: "puertoRicoPic col-md-2")%>
  </div>
  <div class="col-md-2">
    <%=image_tag("puerto-rico-4.JPG", class: "puertoRicoPic col-md-2")%>
  </div>
  <div class="col-md-2">  
    <%=image_tag("puerto-rico-5.JPG", class: "puertoRicoPic col-md-2")%>
  </div>
  <div class="col-md-2">
    <%=image_tag("puerto-rico-6.JPG", class: "puertoRicoPic col-md-2")%>
  </div>
</div>
<div id = "bodyCopy">
  <div id="buttonRow" class="row">
    <div id="buttons" class="col-md-2 offset-md-8">
      <a class ="butt" href="https://www.linkedin.com/in/deborah-hynson-7164a682"> LinkedIn </a>
      
    </div>
    <div id="email-button" class="col-md-2">
      <a class = "butt" href="mailto:hynsonspanish@hotmail.com">Email</a>
    </div>
  </div>


  <div class="row">
  	<%=image_tag("portrait.jpg", class: "portrait col-md-3")%>
    <div class="descriptionText col-md-9">
      <h3> Experienced Spanish teacher offers individualized
      Spanish tutoring to Middle School, High School
      and College students. </h3>
      <div class="educationBox row">
        <div class="col-md-6">
          <p>Specialize in customized learning for struggling students, those with learning differences or ADHD.</p>
          <p>Also teach advanced students who need to pass placement test to skip a course level when transferring to a new school.</p>
        </div>
        <div class="col-md-6">
          <p>Targeted approach to quickly improve student ability, confidence and grades.</p>
          <p>Creative study skills which enhance ease of language learning.</p>
        </div>
      </div>

    </div>
  </div>
  <br>
  <div class="row">
    <div id="footerBar" class="col-md-12">
      
    </div>
  </div>
  <br>
  <div class="row">
    <div id="sidebarInfo" class="col-md-3">
      <h3>Twelve years of successful results with students from a variety of public and private schools:</h3>
      <ul>
        <li>Gilman</li> 
        <li>Roland Park Country</li> 
        <li>Dulaney High</li> 
        <li>Maryvale</li> 
        <li>Notre Dame Prep</li>
        <li>Boys Latin</li>
        <li>Cockeysville Middle</li>
        <li>Ridgely Middle</li>
        <li>Loyola Blakefield</li>
        <li>The Bryn Mawr School</li>
        <li>The Park School</li>
        <li>Calvert Hall</li>
        <li>Concordia Prep</li>
    </div>
    <div class="col-md-9">
      <h3> Education </h3>  
      <div class="educationBox row">
        <div class="col-md-6">
          <p>University of Vermont cum laude 1983</p>
          <p> Margaret Whittlesey Award for Scholarsip and Service 1983</p>
        </div>
        <div class="col-md-6">
          <p>Continuing Education: College of Notre Dame Master’s level Education and Spanish classes</p>
        </div>
      <h3> Map </h3>
      <br>
      <br>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d98611.68595807855!2d-76.65107478042638!3d39.43282543515025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c80b717fbea3db%3A0xd46e95e9a319a7c!2s15+Holly+Branch+Ct%2C+Glen+Arm%2C+MD+21057!5e0!3m2!1sen!2sus!4v1506277074819" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div id="footerBar" class="col-md-12">
    
  </div>
</div>

<div id="footer" class="row">
  <div class="col-md-12">
    <br>
    <p class = "footer">Office Location</p>
    <p class = "footer">15 Holly Branch Court | Glen Arm, MD 21057 | hynsonspanish@hotmail.com</p>
    <p class = "footer photography">Photography: Bob Hynson, All Rights Reserved</p>
  </div>
</div>
